.view-container{
    background-color:#333;
    display:flex;
}
.container{
    display:flex;
    height:100vh;
    overflow:hidden;
    width:100%;
  }
  .left-content, .right-content{
    width:48%;
  }
  .left-content{
    background-color:#ad0600;
  }
  .right-content{
    background-color: white;
  }
  .center-content{
    background-color:black;
    width:6%;
  }
  .center-circle{
    background-color:white;
    border:10px solid black;
    border-radius:50%;
    margin-top:37vh;
    left: -50%;
    position:relative;
    width:200%;
    height:26vh;
  }
  .center-circle-2{
    background-color:white;
    border:5px solid #E5E5E5;
    border-radius:50%;
    height:16.5vh;
    left: 13%;
    margin-top:15%;
    position:relative;
    transition: all .7s ease-in-out;
    width:16.5vh;
  }
  .center-circle-2:hover{
    background-color:#E5E5E5;
    border:5px solid black;
    cursor:pointer;
  }
  .salida-izquierda{
    transition: all .7s ease-in-out;
    transform: translateX(-100%);
  }
  .salida-centro{
    transition: all .7s ease-in-out;
    transform: translateX(750%);
  }
  .salida-derecha{
    transition: all .7s ease-in-out;
    transform: translateX(100%);
  }
  .btn-menu{
      background-color: white;
      border-radius: 50%;
      border: 0px;
      color:#333;
      font-size: 1.2em;
      font-weight: bold;
      margin: 1em;
      padding: .5em;
      position: absolute;
      transition: all .5s ease-in-out;
  }
  .btn-menu:hover{
      background-color: #333;
      color:white;
      cursor:pointer;
  }

  .pokedex-content{
    background-color:#ad0600;
    display:none;
    height:100vh;
    overflow:hidden;
    width:100%;
  }
  .search-bar{
    margin: 1em;
    width: 100%;
    .input-search{
        border-radius: 1em;
        display: flex;
        margin: 0 auto;
        padding: 1em;
        width: 50%;
    }
  }
  
  .pokemon-list{
    display:grid;
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;
    width:90%; 
    overflow-y: hidden; 
  }
  .pokemon-item{
    background-color:white;
    border-radius: 1em;
    color: #333;
    margin: .5% auto;
    transition: all .7s ease-in-out;
    text-align: center;
    width:15%;
  }
  .pokemon-item:hover{
    background-color:#333;
    color: white;
    cursor:pointer;
  }
  .sprite{
    display: flex;
    margin: 0 auto;
    width:70%;
  }
  p{
    color: white;
    text-align: center;
  }
  .content-pagination{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }
  .paginator{
    background-color: #ad0600;
    border-radius: 1em;
    border-color: white;
    color:white;
    height: 6vh;
    transition: .5s all ease-in-out;
    width: 20%;
  }
  .paginator:hover{
    background-color: white;
    border-color: #ad0600;
    color:#ad0600;
    cursor: pointer;
  }
  